<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Lojaralho - Sua lojinha do caralho!</title>
    <style>
        .main-header {
            font-family: courier;
            text-align: center;
        }
    </style>
</head>
<body>
    <header class="main-header">
        <h1>Lojaralho</h1>
    </header>

    {% if user.is_authenticated %}
        <h2>
            Bem vindo, {{ user.first_name }}!
        </h2>
    {% else %}
        <div>

            <a href="{% url 'login' %}">Faça login</a>
            <a href="{% url 'signup' %}">Cadastre-se</a>
        </div>
    {% endif %}
</body>
</html>
