<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Lojaralho - Sua lojinha do caralho!</title>
    <style>
        .main-header {
            font-family: courier;
            text-align: center;
        }
    </style>
</head>
<body>
<header class="main-header">
    <h1>Lojaralho</h1>
</header>
{% block user_message %}
{% endblock user_message %}
<div>

    <a href="{% url 'login' %}">Faça login</a>
    <a href="{% url 'signup' %}">Cadastre-se</a>
</div>
</body>
</html>